.navbar {
  background: black;
}

.container {
  max-width: 90rem;
  margin: 0 auto;
  display: grid;
  height: 4.5rem;
  grid-template-columns: 1fr 1fr 1fr;
  place-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
}

.leftLink {
  height: 1.5rem;
  display: flex;
  gap: 2rem;
  padding-left: 3rem;
}

.navbar a {
  all: unset;
  color: #fff;
  cursor: pointer;
}

.navbar a:hover {
  border-bottom: 2px solid #fff;
}

.logo {
  display: grid;
  place-items: center;
}

.rightLink {
  display: flex;
  justify-content: end;
  padding-right: 3rem;
  align-items: center;
  gap: 2rem;
}

.rightLink a:nth-child(2) {
  background: #fff;
  color: black;
  padding: 0.25rem 1rem;
  border-radius: 10rem;
}

.rightLink a:nth-child(2):hover {
  border: none;
  background-color: #e3e3e3;
}

@media (-webkit-max-device-pixel-ratio: 1.25) {
   .leftLink{
    padding-left: 0;
   } 
   .rightLink{
    padding-right: 0;
   }
  }