.navbar {
  background: black;
  position: sticky;
  top: 0;
  z-index: 100;
}

.container {
  max-width: 90rem;
  margin: 0 auto;
  display: grid;
  height: 4.5rem;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
  font-size: 0.85rem;
  background: black;
}

.leftLink {
  height: 1.5rem;
  display: flex;
  align-items: center;
  gap: 2rem;
  padding-left: 3rem;
}

.navbar a {
  all: unset;
  color: #fff;
  cursor: pointer;
}

.navbar a:hover {
  border-bottom: 2px solid #fff;
}

.logo {
  display: grid;
  justify-content: center;
}

.rightLink {
  display: flex;
  justify-content: end;
  padding-right: 3rem;
  align-items: center;
  gap: 2rem;
}

.rightLink a:nth-child(2) {
  background: #fff;
  color: black;
  padding: 0.25rem 1rem;
  border-radius: 10rem;
}

.rightLink a:nth-child(2):hover {
  border: none;
  background-color: #e3e3e3;
}

.mobileLink{
  display: none;
}

.menu{
  display: none;
}

@media screen and (min-width: 1440px) and (-webkit-max-device-pixel-ratio: 1.25) {
  .leftLink {
    padding-left: 0;
  }
  .rightLink {
    padding-right: 0;
  }
}

@media screen and (max-width: 768px){
  
  .leftLink{
    display: none;
  }

  .rightLink{
    display: none;
  }

  .container{
    height: 4rem;
    grid-template-columns: auto 1fr;
    justify-content: start;
    position: relative;
  }

  .logo img{
    width: 110px;
  }

  .logo{
    justify-content: start;
    padding-left: 1rem;
  }

  .mobileLink{
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: end;
    padding-right: 1rem;
  }

  .mobileLink a:nth-child(1) {
    background: #fff;
    color: black;
    padding: 0.25rem 1rem;
    border-radius: 10rem;
  }
  
  .mobileLink a:nth-child(1):hover {
    border: none;
    background-color: #e3e3e3;
  }
  
  .mobileLink button{
    all: unset;
    cursor: pointer;
    display: grid;
    align-content: center;
  }

  .menu{
    display: block;
    position: absolute;
    background: rgb(36, 36, 36);
    width: 100vw;
    top: -20rem;
    z-index: -50;
    transition: top ease-in-out 500ms;
    padding-bottom: 2rem;
  }

  .menu li{
    list-style: none;
    padding: 0.5rem 0;
    padding-right: 1rem;
  }
  .active{
    top:4rem;
  }

}