.main{
    border: 1px solid rgba(0, 0, 0, 0.25);
    border-top: none;
    border-bottom: none;
    padding: 2rem;
    padding-bottom: 1rem;
    background: #F9F8FE;
}

.head{
    display: flex;   
    align-items: center;
    justify-content: space-between;
}

.link{
    all: unset;
    cursor: pointer;
    background: #0077ff;
    color: white;
    padding: .3rem .75rem;
    border-radius: .25rem;
    display: flex;
    align-items: center;
}
.title{
    font-size: 1.5rem;
    font-weight: bold;
}

.body{
    padding-top: 2rem;
}

.image{
    aspect-ratio: 16/9;
    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    border-radius: 1rem;
    margin-bottom: 2rem;
    border: 2px solid #f2288e;
}

@media screen and (max-width:48rem) {
    .main{
        padding: 1rem;
    }   
    .title{
        font-size: 1.25rem;
    }
    .link{
        padding:.25rem.5rem;
        font-size:.8rem;
    }
    .link svg{
        scale: .8;
    }
    .head{
        margin-bottom: 1rem;
    }
    .body{
        padding-top: 1rem;
    }
    .image{
        border: 1px solid #f2288e;
        border-radius: .5rem;
    }
    
}