.container {
  max-width: 90rem;
  margin: 0 auto;
  padding: 0.5rem 3rem;
}

.titleBox {
  display: grid;
  grid-template-columns: 10rem auto;
}

.title {
  padding-left: 2rem;
  display: grid;
  grid-template-rows: 5rem 5rem;
}

.titlebtn {
  display: flex;
  justify-content: space-between;
}

.titlebtn button {
  all: unset;
  background-color: #fff;
  color: #f2288e;
  border: 1px solid #f2288e;
  padding: 0.25rem 1rem;
  border-radius: 0.25rem;
  margin-right: 1rem;
  font-size: 1.25rem;
  font-weight: 400;
  transition: all ease-in-out 300ms;
}

.titlebtn button:hover{
  transition: all ease-in-out 300ms;
  color: #fff;
  background-color: #f2288e;
  border-radius: 2rem;
}

.titleTxt {
  display: grid;
  grid-template-rows: 3rem 2rem;
}

.titleTxt div:nth-child(1) {
  font-size: 2rem;
  font-weight: 800;
  display: flex;
  align-items: end;
}

.titleTxt div:nth-child(2) {
  font-size: 1.5rem;
  font-weight: 500;
  color: #949494;
}

.tags p {
  color: #8f8f8f;
  font-weight: 600;
}

.tags span:nth-child(1) {
  color: #f2288e;
  padding-right: 1rem;
}

.tags span:nth-child(2) {
  color: #444545;
  padding-right: 1rem;
}

.com_logo {
  width: 10rem;
  height: 10rem;
  background: url("/images/com_logo.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 1rem;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}
